@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@openedx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "sass/style";


.logo {
    max-width: 100%;
    width: auto!important;
    height: 70px;
}

.display-2 .text-accent-a{
    color: white!important;
}